<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="700px">
        <form class="mt-60" #clientForm="ngForm" (ngSubmit)="safeClient()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title class="title">Dados pessoais</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="600px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: *</mat-label>
                                <input matInput type="text" placeholder="Digite seu nome" [(ngModel)]="client.name"
                                    name="name">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="600px">
                            <mat-form-field class="full-width">
                                <mat-label>Email *</mat-label>
                                <input matInput type="email" placeholder="Digite seu email" [(ngModel)]="client.email"
                                    name="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Data de nascimento *</mat-label>
                                <input matInput type="date" placeholder="Digite sua data de nascimento"
                                    [(ngModel)]="client.birthdate" name="birthdate">
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>CPF *</mat-label>
                                <input type="text" [(ngModel)]="client.cpf" placeholder="Digite seu CPF" name="cpf"
                                    mask="000.000.000-00" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>UF *</mat-label>
                                <mat-select [(value)]="client.uf" (selectionChange)="loadCity($event)">
                                    <mat-option *ngFor="let uf of state" [value]="uf.sigla">
                                        {{uf.sigla}} - {{uf.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <div fxLayout="column" fxFlex="400px">
                            <mat-form-field class="full-width">
                                <mat-label>Cidades *</mat-label>
                                <mat-select [(value)]="client.city">
                                    <mat-option *ngFor="let m of city" [value]="m.nome">
                                        {{m.nome}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions>
                    @if(!update){
                    <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="save"></mat-icon>
                        Salvar
                    </button>
                    } @else {
                    <button mat-flat-button color="primary">
                        <mat-icon fontIcon="update"></mat-icon>
                        Atualizar
                    </button>
                    }
                    <button mat-flat-button color="accent" class="ml-5" type="button" (click)="clearFields()">
                        <mat-icon fontIcon="clear"></mat-icon>
                        Limpar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>
