<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #searchForm="ngForm" (ngSubmit)="search()">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title class="title">Consulta</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row">
                        <div fxLayout="column" fxFlex="850px">
                            <mat-form-field class="full-width">
                                <mat-label>Nome: </mat-label>
                                <input name="nameSearch" [(ngModel)]="nameSearch" matInput
                                    placeholder="Digite o seu nome" />
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-flat-button color="primary" type="submit">
                        <mat-icon fontIcon="search"></mat-icon>
                        Buscar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-20">
    <div fxLayout="column" fxFlex="1000px">
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title class="title">Resultado</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <table mat-table [dataSource]="listClients">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Nome </th>
                        <td mat-cell *matCellDef="let client"> {{client.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let client"> {{client.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="birthdate">
                        <th mat-header-cell *matHeaderCellDef> Data de nascimento </th>
                        <td mat-cell *matCellDef="let client"> {{client.birthdate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="cpf">
                        <th mat-header-cell *matHeaderCellDef> CPF </th>
                        <td mat-cell *matCellDef="let client"> {{client.cpf}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let client">
                            <button mat-flat-button color="accent" (click)="prepareEdit(client.id)">
                                <mat-icon fontIcon="edit"></mat-icon>
                                Editar
                            </button>
                            @if(!client.deleting) {
                                <button mat-flat-button color="accent" (click)="prepareDelete(client)">
                                    <mat-icon fontIcon="delete"></mat-icon>
                                    Excluir
                                </button>
                            } @else {
                                <button mat-flat-button color="accent" (click)="delete(client)">
                                    <mat-icon fontIcon="question_mark"></mat-icon>
                                    confirmation
                                </button>
                            }
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsClient"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsClient"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>